<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Máquinas</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="cadastro">
          <h1>TPM - Cadastro de Máquinas</h1>
          <form action="/enviar-cadastro" method="POST" id="defeitosForm">
            <div class="dados-maquina">
              <div class="selecao-setores selecao">
                <label for="setor">Escolha um setor</label>
                <input
                  list="setores"
                  name="setor"
                  id="input-setor"
                  placeholder="Setor"
                />
                <datalist id="setores">
                  <option value="Montagem"></option>
                  <option value="Costura"></option>
                  <option value="Apoio"></option>
                  <option value="Corte Automático"></option>
                  <option value="Serigrafia"></option>
                  <option value="Lavagem"></option>
                  <option value="Pré Solado"></option>
                  <option value="Bordado"></option>
                </datalist>
              </div>
              <div class="maquina selecao">
                <label for="maquina">Nome da Máquina</label>
                <input
                  type="text"
                  name="maquina"
                  id="input-maquina"
                  placeholder="Nome da Máquina"
                />
              </div>
            </div>

            <div class="selecao-defeito-checklist">
              <div class="defeitos">
                <div id="defeitosList"></div>
                <button
                  type="button"
                  class="btn-adicionar"
                  onclick="adicionarDefeito()"
                >
                  + Adicionar Defeito
                </button>
              </div>
              <div class="textGuide">
                <label for="checklist">Checklist</label>
                <textarea
                  name="checklist"
                  id="inputChecklist"
                  placeholder="Itens para Verificar"
                ></textarea>
                <div class="tooltip">
                  Insira os itens da checklist separados por vírgula.
                </div>
              </div>
            </div>

            <button type="submit" class="btn-enviar">Enviar</button>
          </form>
        </div>

        <script src="/js/manualMaq.js"></script>
      </div>
    </div>
  </body>
</html>
