<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Máquinas</title>
</head>
<body>
    <form action="POST">
        <label for=""></label>
    </form>
</body>
</html>