<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Máquinas</title>
    <style>
        .defeito-container {
          margin-bottom: 20px;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 10px;
        }
        .defeito-container input {
          display: block;
          margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form action="/enviar-cadastro" method="POST" id="defeitosForm">
        <label for="setor">Escolha um setor</label>
        <input list="setores" name="setor" id="input-setor">
        <datalist id="setores">
          <option value="Montagem">
          <option value="Costura">
          <option value="Apoio">
          <option value="Corte Automático">
          <option value="Serigrafia">
          <option value="Lavagem">
          <option value="Pré Solado">
        </datalist>

        <label for="maquina">Nome da Máquina</label>
        <input type="text" name="maquina" id="input-maquina">

        <div id="defeitosList">
        </div>
        <button type="button" onclick="adicionarDefeito()">+ Adicionar Defeito</button>

        <label for="checklist">Checklist</label>
        <textarea name="checklist" id="inputChecklist"></textarea>

        <input type="submit">
    </form>

    <script src="/js/manualMaq.js"></script>
</body>
</html>