<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login-token">
        <label for="userInput">Login</label>
        <input name="userInput" id="userInput" type="text">
        <label for="senhaInput">Senha</label>
        <input name="senhaInput" id="senhaInput" type="text">
        <input type="submit">
    </form>
</body>
</html>