<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Teste de Login</h1>
    <div class="login">
      <form action="/login" method="POST">
        <label for="user">Usuário:</label>
        <input name="user" id="user" type="text" />

        <label for="senha">Senha:</label>
        <input name="senha" id="senha" type="text" />

        <input type="submit" />
      </form>
    </div>
  </body>
</html>
