<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manual de Máquinas</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" type="image/jpg" href="/img/maintenance.ico" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title">
          <img src="/img/maintenance.png" alt="" />
          <h1>TPM - Manual de Máquinas</h1>
        </div>

        <div class="selecoes">
          <div class="listas">
            <div class="lista-selecao select">
              <label for="opcoes-setores">Selecione um Setor</label>
              <select
                class="js-example-basic-single"
                name="opcoes-setores"
                id="opcoes-setores"
              >
                <option value=""></option>
              </select>
            </div>

            <div class="lista-selecao select">
              <label for="opcoes-maquinas">Selecione uma Máquina</label>
              <select
                class="js-example-basic-single"
                name="opcoes-maquinas"
                id="opcoes-maquinas"
              >
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="operacional-mecanico">
            <button class="selecao-defeito" id="operacional" value="Operacional">Operacional</button>
            <button class="selecao-defeito" id="mecanico" value="Mecânico">Mecânico</button>
          </div>
          
          <% if (user.admin) { %>
            <div class="adicionar-maquina">
              <p>Deseja adicionar alguma máquina?</p>
              <a href="cadastro-maquinas"
                ><button class="btn-adicionar">Adicionar</button></a
              >
            </div>
          <% } %>
          
        </div>

        <main>
          <div class="results"></div>
        </main>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
  </body>
</html>
