<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="register-user">

        <label for="userInput">Usuário</label>
        <input id="userInput" name="userInput" type="text">

        <label id="senhaInput" for="senhaInput">Senha</label>
        <input type="text" name="senhaInput" id="senhaInput">

        <input type="submit">
    </form>
</body>
</html>