@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

body,
html {
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f9;
  padding: 20px;
  color: #363949;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding: 30px;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

.selecoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select {
  padding: 10px;
}

.select label {
  padding-bottom: 5px;
  text-align: center;
}

.lista-selecao {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 20px;
}

main h1 {
  text-align: center;
}

#opcoes-setores,
#opcoes-maquinas {
  width: 300px;
}

.select2-container {
  width: 100% !important;
  border-radius: 20px;
}

.select2-container .select2-selection--single {
  height: auto !important;
  padding: 8px;
  width: 300px;
}

.select2-container .select2-selection__arrow {
  right: 10px !important;
}

.select2-container .select2-search input {
  border-radius: 20px !important;
  padding: 10px !important;
  font-size: 18px;
}

.results .setores-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.setores-list h1 {
  margin-bottom: 20px;
}

.maquinas-list {
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  text-align: center;
  min-width: 700px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.maquinas-list h3 {
  padding: 10px;
}

.maquinas-list:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.toggle-button {
  cursor: pointer;
  color: black;
  font-weight: 400;
  font-size: 20px;
}

.toggle-button:hover {
  color: #1f75fe;
}

.hidden {
  display: none;
}

.categorias-list {
  padding-bottom: 15px;
  overflow: hidden;
  background-color: #f1f1f1;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.categorias-list.show {
  max-height: 50000px;
  opacity: 1;
  border: 1px solid #ddd;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.categoria ul {
  padding: 5px;
  list-style-type: none;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.categoria ul li {
  padding: 5px;
}

.categorias-list h5 {
  padding: 5px;
}

.categorias-list h5:hover {
  color: #1f75fe;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.problemas-list {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.problemas-list.show {
  max-height: 1000px;
  opacity: 1;
}
